<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Remindr - Mes Groupes</title>
    <link rel="stylesheet" href="../public/style.css">
</head>
<body>

 {{>header}}

 {{>nav}}
 
<section class = "oui">
    <div class="right-column">
        <h2>Mes Groupes</h2>
        <ul class="group-list">
          {{{groups}}}
        </ul>
    </div>
    <div class="left-column">
        <h2>Rappels urgents</h2>
        <ul class="group-list">
          {{{troisProchainsRappels}}}
        </ul>
    </div>
    
</section>
<section class = "oui">
  <div class="left_column">
      <h2>Rappels Depasses</h2>
      <ul class="group-list">
        {{{rappelsDepasses}}}
      </ul>
  </div>
</section>

 {{>footer}}

</body>
</html>
