<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Remindr - Mes Groupes</title>
    <link rel="stylesheet" href="../public/style.css">
</head>
<body>

{{>header}}

 {{>nav}}

 <h1 class="titre">{{groupName}}</h1>
 
 
    


<section class="oui">
    <div class="left-column">
        <ul class="group-list">
            {{{rappels}}}
        </ul>
    </div>
    <div class="right-column">
        <div class="form-container">
            <h2>Créer un rappel</h2>
            <form action="createRappel" method="post" id="createGroupForm">
                <input type="text" name="name" placeholder="Nom du rappel" required>
                <input type="text" name="bio" placeholder="Description" required>
                <input type="date" name="date" required>
                <input type="time" name="time" required> 
                <label for="color">Choisir la couleur</label>
                <input type="color" name="reminderColor" value="#ff0000" required>
                <div class="color-preview" id="colorPreview"></div>
                <button type="submit">Créer un rappel</button>
            </form>
        </div>
    </div>
</section>

<script>
    // Script pour mettre à jour la couleur sélectionnée en temps réel
    const colorInput = document.getElementsByName('reminderColor')[0];
    const colorPreview = document.getElementById('colorPreview');

    colorInput.addEventListener('input', () => {
        colorPreview.style.backgroundColor = colorInput.value;
    });
</script>
{{>footer}}

 
</body>
</html>
